:root{
    --main bg-color: violet;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    font-family: "Rubik Bubbles";
    font-size: 45px;
}
.button-search{
    background-color: #7E57C2;
}
.background{
    background-color: var(--main bg-color);
}
.card-text-header{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
}
.card-services{
    padding: 2rem;
}
.icon{
    width: 2rem;
    height: 2rem;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}