:root {
    --main-bg-color: violet;
}

.navbar-custom {
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-family: "Rubik Bubbles", serif;
    font-size: 45px;
}

.button-search {
    color: white;
    border-color: transparent;
    background-color: #7E57C2;
}

.button-search:hover {
    background-color: purple;
}

.background {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.our-services {
    padding: 80px 150px 40px 150px;
}

.header-text {
    margin-bottom: 50px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
}

.card-text-header {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
}

.card-services {
    padding: 1rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.text-in-card {
    margin-bottom: 50px;
}

.card-img-top {
    max-width: 100%;
}

.cat-card {
    min-height: 700px;
    padding: 50px;
    background-color: white;
}

.header-text-2 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: black;
}

.form-info {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #7E57C2;
    min-width: 100%;
    margin: 3px;
}
.time-table{
    border-color: black;

}
.about-us-kitty-pic{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    background-color: #7E57C2;
}

.footer-img-middle {
    width: 100px;
}